.calendar-container{
  height: 100vh;
  display: block;
  box-sizing: border-box;
}

.calendar-container h1{
  font-weight: 600;
  text-align: center;
  color: #264653;
  margin: 35px 0;
}

.calendar-container h2{
  font-weight: 600;
  margin: 20px;
}

.calendar{
  margin: 10px auto;
  width: 1000px;
  padding: 1rem;
  background-color: rgb(254,245,230);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendar header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 20px;
  padding: 0;
}

.calendar ul li{
  width: calc(100% / 7);
  margin-top: 25px;
  margin-bottom: 35px;
  position: relative;
  z-index: 2;
}

#prev,
#next {
  width: 20px;
  height: 20px;
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
}

#prev::before, 
#next::before {
  content: '';
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 10%;
  border-style: solid;
  border-width: 0.25em 0.25rem 0 0;
  border-color: #ccc;
}

#prev::before {
  transform: translate(-50%, -50%) rotate(-135deg);
}

#next::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

#prev:hover::before,
#next:hover::before {
  border-color: #264653;
}

.days{
  font-weight: 500;
}

.dates li.today{
  color: white;
}

.dates li.today::before{
  content: '';
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #264653;
  border-radius: 10px;
  z-index: -1;
}

.dates li.inactive {
  color: #ccc;
}
