body {
  font-family: Roboto, Arial;
  margin: 0px;
  padding-top: 0px;
  padding-left: 150px;
  padding-right: 24px;
  background-color: rgb(255, 248, 245);
}

main {
  padding: 20px;
  background-color: rgb(255, 248, 245);
}