body {
  font-family: times New Roman;
  font-weight: 500;
  margin: 0px;
  padding-top: 0px;
  padding-left: 150px;
  padding-right: 24px;
  background-color: rgb(255, 248, 245);
  color: #264653;
}

main {
  background-color: rgb(255, 248, 245);
}

header {
  display: flex;
  justify-content: center;
  color: #264653;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 6px;
}

header img{
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-right: 8px;
}

.sidebar-link a{
  text-decoration: none;
  color: inherit;
}
