.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 80px;
  background-color: rgb(255, 248, 245);
  width: 140px;
  z-index: 200;
  align-items: center;
}

.sidebar-link{
  cursor: pointer;
  padding: 20px;
}

.sidebar-link:hover{
  background-color: rgb(255, 239, 226);
}
