.tracker-container{
  padding: 20px;
}

.tracker-container img{
  width: 90px;
  height: 90px;
}

.record-container{
  display: block;
  background-color: rgb(254,245,230);
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  position: relative;
  border: solid 0.1px white;
  padding-bottom: 30px;
}

button{
  position: absolute;
  bottom: -20px;
  padding: 10px 12px 10px 12px;
  border: none;
  border-radius: 5px;
  background-color: #264653;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.hours{
  border: 2px solid ;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time-container{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.time{
  display: flex;
  align-items: center;
  margin: 10px;
  font-size: 36px; 
}

.weekly-container{
  background-color: rgb(254,245,230);
  padding: 20px;
  margin-bottom: 30px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.week-title{
  font-size: 26px;
  margin-bottom: 10px;
}

.week{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  justify-items: center;
}

.date-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 60px;
  margin: 26px;
  padding: 24px 22px;
  background-color: rgb(255, 248, 245);
  border: solid 1px #264653;
  border-radius: 16px;
  position: relative;
}

.date-container.today {
  font-style: italic;
  border: 2px solid #264653;
  border-radius: 16px;
  box-shadow: 0px 0px 8px 0px #264653;
}

.mark {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  bottom: -12px;
  width: 100px; 
  gap: 4px; 
}

.mark img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.date-container img{
  width: 20px;
  height: 20px;
}

.date{
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 22px;
}

.monthly-container{
  background-color: rgb(254,245,230);
  padding: 20px 100px 20px 100px;
  margin-bottom: 20px;
  font-size: 20px;
}

.details{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: 20px;
}

.month-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 0px;
}

