.tracker-container{
  padding: 20px;
}

.record-container{
  display: block;
  background-color: rgb(255, 239, 226);
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  position: relative;
  border: solid 0.1px white;
  padding-bottom: 30px;
}

.record-container button{
  position: absolute;
  bottom: -15px;
  padding: 10px 12px 10px 12px;
  border: none;
  border-radius: 5px;
  background-color: brown;
  color: aliceblue;
}

.hours{
  border: 2px solid ;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 15px;
}

.time-container{
  display: flex;
  align-items: center;
}

.time{
  display: flex;
  align-items: center;
  margin: 10px;
  font-size: 36px; 
}

.weekly-container{
  background-color: rgb(255, 239, 226);
  padding: 20px;
  margin-bottom: 20px;
}

.monthly-container{
  background-color: rgb(255, 239, 226);
  padding: 20px;
  margin-bottom: 20px;
}

